<p (mouseover)="OnLightOn()">
	The Light Is <span *ngIf="LightOn">On!</span><span *ngIf="!LightOn">Off!</span>
</p>
<div>
	<ul>
		<!-- [class.selected]="item.name === selected" -->
		<li *ngFor="let item of anArray" (click)="select(item)" [class.selected]="item.name === selected">
			{{ item.name
      }}<span (click)="removeFromList(item)" class="close">&times;</span>
		</li>
	</ul>
</div>
<input
  #pushed
  type="text"
  (input)="highlightTest(pushed.value)"
  (keyup.enter)="arrayPushing(pushed.value); pushed.value = ''"
/>

<button (click)="arrayPushing(pushed.value); pushed.value = ''">Add</button>
<br />

<app-new-detail [inputObj]="anObj"></app-new-detail>